body {
    font-family: 'Share Tech Mono', monospace;
}


h1,h2,h3{
    width:100%;
    text-align: center;
    text-shadow: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

span{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.h3{
    background-color: black;
}

.timer-output{
    width: auto;
    color: darkred;
    font-size: 64px;
    text-align: center;
    line-height: 1;
    user-select: none;
}

.timer-output-wrapper{
    position: absolute;
    margin-top: 17%;
    margin-left: 25%;
    width:300px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.bombImage {
    width: 100%;
}

.col{
    padding-left: 0px;
    padding-right: 0px;
}

.row{
    padding-left: 0px;
    padding-right: 0px;  
    margin-top: 0px;
    margin-bottom: 0px;
}

#gameStatusField{
    width: 100%;
}

#endgamediv{
    margin-top: 5px;
}

#playerNum #playerInp input{
    border: none;
}

#playerNum p {
    font-style: oblique;
    margin-bottom: 0px;
}